@font-face {
  font-family: "fontello";
  src: url("https://assets.stuudium.net/etc/fonts/fontello/fontello.woff2?v10") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

