:root:where([data-sid-enhancement="enabled"]) {
  color-scheme: var(--sid-color-scheme, dark);
  background-color: var(--sid-canvas, #0f1311) !important;
}

:root:where([data-sid-enhancement="enabled"]) body {
  background-color: var(--sid-canvas, #0f1311) !important;
  color: var(--sid-text-2, #c1c0b8) !important;
}
